@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.currency-prefix::before {
  content: 'R$';
}

/* child hidden behind parent */
.exposing-parent > .hidden-child {
  opacity: 0;
  visibility: hidden;
  transition: visibility 1s linear, opacity 0.1s linear;
}
.exposing-parent:hover > .hidden-child{
  opacity: 1;
  visibility: visible;
}


/* scrollbar */
.fancyScroll::-webkit-scrollbar {
  width: 0.5rem; /* Tailwind's w-2 = 0.5rem */
}

.fancyScroll::-webkit-scrollbar-track {
  border-radius: 9999px; /* rounded-full */
  background: #f3f4f6; /* Tailwind's gray-100 = #f3f4f6 */
}

.fancyScroll::-webkit-scrollbar-thumb {
  border-radius: 9999px; /* rounded-full */
  background: #d1d5db; /* Tailwind's gray-300 = #d1d5db */
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .fancyScroll::-webkit-scrollbar-track {
    background: #3f3f46; /* Tailwind's neutral-700 = #3f3f46 */
  }

  .fancyScroll::-webkit-scrollbar-thumb {
    background: #737373; /* Tailwind's neutral-500 = #737373 */
  }
}
